*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"]{
  background-color: blue;
  border: 1px solid white;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: .5rem;
}

[class*="col-offset"]{
  opacity: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: .5rem;
}

[class*="col-"]>[class*="col-"]{
  background-color: green;
  border: 1px solid blue;
  height: 2rem;
  line-height: 2rem;
}

.container{
  padding-bottom: 1rem;
}


